* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
.container {
    width: 650px;
    margin: 0 auto;
}
.student_information {
    margin-top: 30px;
}

.student_information h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form_information {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

}
.form_information label {
    width: 15%;
}
.form_information input, .form_information select {
    padding: 6px 12px;
    width: 85%;
    border-radius: 5px;
    border: 1px solid #7a7676;
    
}

.radio_group {
    display: flex;
}
.radio_group > label {
    width: 15%;
}
.radio_group .radio_flex {
    width: 85%;
}
.radio_group  .radio_flex input {
    width: 20px;
    height: 20px;
}
.radio_group .radio_flex {
    display: flex;
}
.radio_group .item {
    display: flex;
    align-items: center;
}
.radio_group .item input, .radio_group .item label {
    margin-left: 7px;
}
.radio_group .item:first-child input {
    margin-left: 0;
}

.btn {
    padding: 6px 14px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: rgb(13, 109, 45);
    margin-top: 20px;
}


.table_flex {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}
.table_flex h2 {
    text-align: center;
    font-size: 30px;
}

.table_flex table {
    border-collapse: separate;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.15);
    border-style: double;
}

.table {
    width: 100%;
    
}

.table thead tr {
    background-color: #8e34bb;
    color: #ffffff;
    text-align: center;
    color: black;
}

.table th,
.table td {
    padding: 12px 15px;
    border-style: double;
    text-align: center;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.btn-blue {
    background-color: #1c639c;
    text-decoration: underline;
}
.btn-danger {
    background-color: rgb(228, 99, 99);
    text-decoration: underline;
}
.empty {
    text-align: center;
    padding: 30px;
    color: red;
    font-size: 30px;
}
.hollow {
    display: none;
}

.search_and_sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.search_and_sort input {
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(194, 186, 186);
}
.sort .sort_name {
    background-color: #1a7650;
}